.root {
    -fx-font-size: 16px;
}


.keyword {
    -fx-fill: rgb(232, 149, 15);
    -fx-font-weight: bold;
}


.paren {
    -fx-fill: #000000;
}

.brace {
    -fx-fill: #000000;
}

.bracket {
    -fx-fill: #000000;
}

.semicolon {
    -fx-fill: #000000;
}

.string {
    -fx-fill: #2a00ff;
}

.comment {
    -fx-fill: #3f7f5f;
}

#userWindow {
    -fx-font-size: 16px;
}

#codeWindow {
    -fx-font-size: 16px;
}
/* Для codeWindow */
.code-window {
    -fx-background-color: #808080; /* Серый фон */
}

/* Для userWindow */
.user-window {
    -fx-background-color: #808080; /* Серый фон */
}
AnchorPane {
    -fx-background-color: #1f1f1f; /* Задайте цвет фона (темно-серый, например) */
}
/* Для ComboBox */
#comboBox {
    -fx-text-fill: white; /* Белый цвет текста */
}

/* Для кнопок (generateButton и startButton) */
#generateButton, #startButton {
    -fx-text-fill: white; /* Белый цвет текста */
}
